body{
	text-align: center;
	font-size: 50px;
	font-family: Verdana;
}

.col{
	height: 300px;
}

.columna-1{
	background: #b366ff;
	width:100%;
	float:left;
clear:both;
}


.columna-2{
	background: #9999ff;
	float:left;
	width:50%;
}

.columna-3{
	background: #ccccff;
	float:right;
	width:50%;
}

.columna-4{
	background: #0066ff;
	float:left;
	width:20%;
}

.columna-5{
	background: #1a75ff;
	width:20%;
	float:left;
}

.columna-6{
	background: #4d94ff;
	width:20%;
	float:left;
}

.columna-7{
	background: #99c2ff;
	width:20%;
	float:left;
}

.columna-8{
	background: #cce0ff;
	width:20%;
	float:left;
}